<div class="credits">
	<div class="divider"></div>
  <div class="entry"><br><span class="credit-hed">Interactive Developers:</span><br>Elbert Wang  &bull; <a href="mailto:Elbert.Wang@sfchronicle.com">elbert.wang@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/elbertwang1" target="_blank">@elbertwang1</a><br>
  	Lucio Villa &bull; <a href="mailto:LVilla@sfchronicle.com">LVilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a><br>
  	Audrey DeBruine &bull; <a href="mailto:Audrey.DeBruine@sfchronicle.com">Audrey.DeBruine@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/acdebruine" target="_blank">@acdebruine</a>
  </div>
</div>