<div class="recirc">
	<div class="divider"></div>
	<script src="//projects.sfchronicle.com/shared/js/responsive-frame.js"></script><iframe is="responsive-iframe" interval="0" src="//projects.sfchronicle.com/2018/embeds/homeless-recirc/dontMiss.html?ids=https%3A%2F%2Fwww.sfchronicle.com%2Fnews%2Farticle%2FSF-Homeless-Project-What-has-been-done-and-13017681.php+https%3A%2F%2Fprojects.sfchronicle.com%2Fsf-homeless%2F+https%3A%2F%2Fwww.sfchronicle.com%2Fnews%2Farticle%2FNeighbors-disgusted-over-despair-on-block-hit-13015964.php&head=Related%20coverage" frameborder="0"></iframe>
</div>