<%= t.include("partials/_head.html") %>

  


  



<main class="container">
	<div class="photo-nav-container">
		<div class="photo-nav is_unfixed">
			<div class="wrap flex">
				<div class="photo-nav-item" id="i0">
					<video playsinline muted loop preload="auto" id="v0" poster="assets/angelique.jpg">
						<source src="assets/angelique.mp4" type="video/mp4" poster="assets/angelique.jpg">
						</video></div>
						<div class="photo-nav-item" id="i1">
					<video playsinline muted loop preload="auto" id="v1" poster="assets/oscar.jpg">
						<source src="assets/oscar.mp4" type="video/mp4"> 
					</video>
				</div><div class="photo-nav-item" id="i2">
					<video playsinline muted loop preload="auto" id="v2" poster="assets/smirf.jpg">
						<source src="assets/smirf.mp4" type="video/mp4"> 
					</video>
				</div><div class="photo-nav-item" id="i3">
					<video playsinline muted loop preload="auto" id="v3" poster="assets/terry.jpg">
						<source src="assets/terry.mp4" type="video/mp4"> 
					</video>
				</div><div class="photo-nav-item" id="i4">
					<video playsinline muted loop preload="auto" id="v4" poster="assets/kathy.jpg">
						<source src="assets/kathy.mp4" type="video/mp4"> 
					</video>
				</div><div class="photo-nav-item" id="i5">
					<video playsinline muted loop preload="auto" id="v5" poster="assets/brownell.jpg">
						<source src="assets/brownell.mp4" type="video/mp4"> 
					</video>
				</div>
			</div>
		</div>

	</div>
	<div class="article">
		<div class="title-box">
			<h1>The path from Division Street:<br>For some, hope after homelessness</h1>
			<p class="dateline">June 27, 2018</p>
			<p class="byline">Story by <a href="https://www.sfchronicle.com/author/kevin-fagan/" target="_blank">Kevin Fagan</a></p>
			<p class="byline">Photos by <a href="https://www.sfchronicle.com/news/article/Chronicle-Photography-Lea-Suzuki-2379966.php" target="_blank">Lea Suzuki</a></p>
		</div>
	 	

		
		

		<div class="individuals-container">
			

			<p>It&rsquo;s there in her eyes &mdash; a quality that could never come when she was huddled under thin blankets in the rain, hard concrete beneath her and predators of the night prowling the alleys for things to steal or a face like hers to kick in.</p>


		<p>It&rsquo;s peace. Drug-free, worry-free, fully housed, stable peace.</p>

		<p>Five months ago, Angelique Mayweather capped off a tortured odyssey that began 2&frac12; years ago in the biggest homeless camp San Francisco has ever seen &mdash; the Super Bowl-era sprawl of 350 people along Division Street &mdash; by moving into a studio at the Hotel Isabel supportive housing complex on Mission Street.</p>

		<p>She was one of the lucky ones.</p>
				
			<div class="individuals">
				<div class="individual" id="p0">

					<!--<h3> Angelique Mayweather </h3>-->

					<div class="blockquote">
						<span class="quote">“</span>I’m a tough girl, and that’s how I stayed alive. But this is a new life now. I finally have my life back.<span class="quote">”</span><div class="attribution"> -Angelique Mayweather</div>
					</div>
					<p>Mayweather is one of seven people The Chronicle has <a href="https://projects.sfchronicle.com/sf-homeless/division-street/" target="_blank">followed since January 2016</a>, when the teeming Division Street camp was at its peak, <a href="https://www.sfchronicle.com/bayarea/article/With-tent-city-cleared-no-shortage-of-ideas-6873873.php" target="_blank">through a city sweep on March 1 that year</a> and beyond to show what happens to hundreds of chronically homeless people who choose to take help or just move along. Until she moved into her studio, Mayweather was among the majority of that group of seven who remained lost on the sidewalks &mdash; homeless, hopeless.</p>

					<div class="story-img">
						<img src="https://s.hdnux.com/photos/74/10/75/15765352/4/800x0.jpg" />
						<div class="figcaption">Angelique Mayweather cuddles with her dog in her room at the Hotel Isabel where she is rebuilding her life drug-free and worry-free.</div>
					</div>

					<p>But that&rsquo;s changed now. When Mayweather turned the key to her new home for the first time, she not only ended the fear and hunger and uncertainty that had haunted her on the street, she gave herself the first real shot in a long time at rebuilding her life.</p>

					<p>&ldquo;Just look at this place,&rdquo; she said, marvel bright in her eyes as she gazed around her studio. &ldquo;It is so quiet, so clean. Last time I really had a place of my own, with a real key to a real door, was 20 years ago in Oakland, and that seems so long ago I can barely remember it.&rdquo;</p>
	

					<p>At one edge of the room, a clothesline held neatly hung shirts and coats, and on another was a tiny kitchen with a stove and a refrigerator. Piles of clothes and suitcases lined a wall, but with every month the mounds have gotten smaller and the neatness of the place more closely matches the tone set by her tidily made bed.</p>


					<p>Last year at this time, Mayweather&rsquo;s home was typically a tattered tent pitched in fields or sidewalks south of Market Street. Sometimes it was just a tarp tied to a tree and a cart. Or a blanket on the concrete where she&rsquo;d sit, usually crying, sometimes smoking methamphetamine to dull the pain of living outside as a vulnerable, middle-aged woman. Men beat her. At times she was too weak to make it to a soup kitchen.</p>

					<div class="float-img-container">
						<div class="float-img right">
							<img src="./assets/maps/mayweather.jpg" />
						</div>
					</div>

					<p>But that all ended when she accepted a spot in a Navigation Center, where she got tied into intensive housing and drug counseling programs. In May, Mayweather turned 50 in her new home. No crying, no dope, no hunger or fear.</p>

					<p>&ldquo;I&rsquo;m pretty all right now,&rdquo; she said with a smile as she prepared to go out to a birthday dinner with a friend.</p>

					<p>With Mayweather&rsquo;s evolution into stability, four of the seven Division Street campers can now say they live inside.</p>

					<p>It&rsquo;s a remarkable salvation considering what they came from.</p>

					<p>The winter leading up to the Feb. 7, 2016, Super Bowl was drenching and cold, and the wide road beneath a mile-long stretch of Highway 101 around South Van Ness Avenue drew homeless campers from all over the city. That strip &mdash; commonly called Division Street, but actually encompassing parts of other streets including 13th &mdash; had always been a sleep haven because of the protective concrete ribbon overhead. But that winter, as a long drought surrendered to rain, tent settlements proliferated as never before.</p>

					<p>The Super Bowl took place in Santa Clara, but the international spotlight fell upon San Francisco. Which meant it also fell upon the newly huge homeless camp, which by then had become a sprawl of trash, rats, needle-jamming addicts and daily fights.</p>

					<p>Rescuing four campers from that gritty mess not only saved their humanity, it saved the city money. It wasn&rsquo;t easy. It never is.</p>

					<p>&ldquo;Getting folks inside like this shows that engaging with people on the street, over and over and not giving up, can work,&rdquo; said Sam Dodge, a longtime homeless-aid worker who knows most of the seven campers and runs homeless services for the Public Works Department. &ldquo;It doesn&rsquo;t always work right away, but you have to be there when they&rsquo;re ready to change.</p>

					<p>&ldquo;It&rsquo;s a wonderful, wonderful feeling when you can see that happen in someone.&rdquo;</p>

					<p>Every chronically homeless person &mdash; i.e., long-term and very troubled &mdash; costs San Francisco as much as $85,000 a year in police, ambulance and other emergency services.</p>

					<p>But living inside? It costs about $30,000 in state, federal and local poverty funding <a href="https://projects.sfchronicle.com/sf-homeless/supportive-housing/" target="_blank">to keep a formerly homeless person in supportive housing</a>. And there, along with a roof, they get counseling to help them conquer the mental illness, addiction or other problems that had pitched them into the street.</p>

					<%= t.include("partials/_infobox.html") %>

					<p>Back in 2016, when an army of police, counselors and street sweepers erased the Division Street tent camps, about 200 of the displaced homeless people went into shelters, drug rehabilitation centers or accepted bus tickets home to family or friends. Some wound up in permanent housing.</p>

					<p>But many of the campers &mdash; the city was unable to determine exact numbers &mdash; simply did what campers have <a href="https://projects.sfchronicle.com/sf-homeless/overview/" target="_blank">done for decades in San Francisco</a>. They stayed away awhile, then came back. For more than two years after the sweep, tent colonies sprouted throughout the old Division Street camp area, dissipating and reforming as city street crews swung through regularly to clean them out.</p>

					<p>It was only in April, when Mayor Mark Farrell ordered <a href="https://www.sfchronicle.com/bayarea/article/SF-mayor-vows-that-clearing-homeless-tents-from-12864999.php" target="_blank">the Mission District definitively wiped clean</a> of big homeless camps, that Division Street truly looked free of settlements. It&rsquo;s not like the area is entirely cleared of homeless people, but the transformation is remarkable.</p>

					<p>What becomes of every homeless person in San Francisco is impossible to know in a city with more than 2,000 chronically homeless people on any given night. But <a href="https://projects.sfchronicle.com/sf-homeless/division-street-update/" target="_blank">tracking seven people</a> for 2&frac12; years is illustrative.</p>

					<p>Three of the former Division Street campers are still outside within a few blocks of the original settlement &mdash; one in a tent, two in a ramshackle RV.</p>

					<p>It took Mayweather a long time to trust that the offer of housing was real. After just five months in a studio, the change in her has been radical.</p>

					<p>&ldquo;Living out there, I was out so long I couldn&rsquo;t remember what normal was,&rdquo; Mayweather said. &ldquo;Out there it&rsquo;s scary, and the drugs are secondary to staying alive. Methamphetamine? It&rsquo;s what you do to keep away the pain, to numb yourself.&rdquo;</p>

					<p>She was getting ready to go to dinner with a friend, and as she spoke she primped her hair &mdash; neatly washed hair, framing a face so calm it&rsquo;s unrecognizable from the perpetually anguished one she presented to the world two years ago, one year ago.</p>

					<p>&ldquo;It&rsquo;s different now,&rdquo; Mayweather said. &ldquo;I&rsquo;m a tough girl, and that&rsquo;s how I stayed alive. But this is a new life now. I finally have my life back.&rdquo;</p>
				</div>
				<div class="individual" id="p1">
					<div class="blockquote">
						<span class="quote">“</span>I can’t conform the way people want me to. I just want to live my life. Out here.<span class="quote">”</span><div class="attribution">-Oscar McKinney</div>
					</div>
					<div class="story-img">
						<img src="https://s.hdnux.com/photos/74/11/02/15765674/4/800x0.jpg"  />
						<div class="figcaption">Oscar McKinney, homeless off and on for more than three decades, has resisted the offer of a roof over his head and lies in his tent on 13th Street, not far from the Division Street camp where he was a leader.</div>
					</div>

					<p>Back in 2016, Oscar McKinney was a leader on Division Street. Homeless off and on for more than three decades, he knew the street game well, and rented out several tents for a few bucks a week alongside his own, which was pitched in front of the Best Buy store.</p>

					<p>The sweep that cleared everyone away that winter was just the first of many McKinney has weathered since then. Like a homing pigeon, he keeps coming back to the same spot. Even when Farrell ordered the Mission District clear-outs in April the 52-year-old McKinney simply picked up and moved a few blocks away.</p>

					<div class="float-img-container">
						<div class="float-img right">
							<img src="./assets/maps/mckinney.jpg" />
						</div>
					</div>

					<p>Under City Hall orders to prevent big camps from re-forming, the police would swing through every few days and tell McKinney and his small band of pals to tear down their tents and move on. But that only meant dragging their gear a street or two away. Amiable, savvy and low key, McKinney is still the leader wherever he goes.</p>

					<p>&ldquo;They herd us around like cattle, but they&rsquo;re not going to change me,&rdquo; he said the other day as he sat on a camp chair on San Bruno Avenue and petted his dog, SOMA D, which stands for South of Market Dog. &ldquo;I&rsquo;ve lived inside before &mdash; was in the Mission Hotel for years &mdash; but it&rsquo;s been five years or so since then, and I can&rsquo;t conform the way people want me to. I just want to live my life. Out here.&rdquo;</p>

					<p><a href="https://www.sfchronicle.com/politics/article/Pier-80-shelter-is-not-enough-S-F-official-says-6855196.php" target="_blank">Dodge, the homeless-aid worker</a>, helped McKinney with his housing years ago. McKinney, he said, is a &ldquo;very resourceful camper, a charming guy and a great organizer, but I&rsquo;m concerned that he&rsquo;s been out there so long.&rdquo;</p>

					<p>&ldquo;Maybe he just wants to prove he can be by himself,&rdquo; Dodge said. &ldquo;But I really wish he would take the help, get a place inside.&rdquo;</p>
				</div>
				<div class="individual" id="p2">
					<div class="blockquote">
						<span class="quote">“</span>It’s hard to get inside and quit everything all at once. <span class="quote">”</span><div class="attribution"> -Papa Smirf</div>
					</div>
					<div class="story-img">
						<img src="https://s.hdnux.com/photos/74/11/02/15765681/4/800x0.jpg" />
						<div class="figcaption">Papa Smirf (l to r) and nutritionist Jackie Pallas discuss talk during an appointment at the Maxine Hall Health Center on Monday, June 4, 2018 in San Francisco, Calif.</div>
					</div>

					<p>Since being rousted from Division Street, Papa Smirf &mdash; his street name, which he insists on using &mdash; has been in jail for violating parole on low-level drug convictions, in shelters and drug rehabilitation, and back on the streets. And indeed, a tent a few blocks from Division Street was where he was huddled until February.</p>

					<div class="float-img-container">
						<div class="float-img right">
							<img src="./assets/maps/papasmirf.jpg" />
						</div>
					</div>

					<p>Then, as he often has in his 59 years of mostly nomadic street life, Smirf decided to give stability another try. He got into a shelter &mdash; &ldquo;Don&rsquo;t say where, I don&rsquo;t want bad influences to find me,&rdquo; he said &mdash; and is applying for another stint in rehab. Meanwhile, he said, he&rsquo;s ditched methamphetamine and is working on getting healthier.</p>

					<p>His resolve seemed clear when he visited the Maxine Hall Health Center recently, and nutritionist Jackie Pallas was delighted to see he had lost weight and was dealing seriously with his diabetes.</p>

					<p>&ldquo;You are looking good,&rdquo; she said, slapping a high five with the burly man.</p>

					<p>&ldquo;I feel good,&rdquo; Smirf said. &ldquo;My only vice is smoking now, but I&rsquo;m going to wait before I get on that. I&rsquo;m taking care of the rest first. It&rsquo;s hard to get inside and quit everything all at once.&rdquo;</p>

					<p>He winked at Pallas and she grinned back. &ldquo;One day at a time,&rdquo; he said.</p>
				</div>
				<div class="individual" id="p3">
					<div class="blockquote">
						<span class="quote">“</span>I try to be an example of how you can do all right.<span class="quote">”</span><div class="attribution"> -Terry Quinn</div>
					</div>
					<div class="story-img">
						<img src="https://s.hdnux.com/photos/74/11/02/15765693/4/800x0.jpg"  />
						<div class="figcaption">Terry Quinn's face is illuminated by the light of his phone as he searches for a photo on it on Friday, June 1, 2018 in San Francisco, Calif.</div>
					</div>

					<p>Terry Quinn has transformed his life in ways he couldn&rsquo;t have imagined when his camp got dismantled in 2016. It took hitting rock bottom to do that.</p>

					<p>Quinn, 56, went straight from Division Street into the Mission Street Navigation Center, where he connected with drug-addiction counselors, doctors to address his neuropathic nerve condition and depression from years in the street, and got plugged into a residential waiting list.</p>

					<div class="float-img-container">
						<div class="float-img right">
							<img src="./assets/maps/quinn.jpg" />
						</div>
					</div>

					<p>Six months later, he landed a room in the Henry Hotel supportive housing complex on Sixth Street. Since then, he has rid his body of Hepatitis C, shaken methamphetamine so thoroughly he gives inspirational talks at a drug-counseling center, and tacked 30 pounds onto what had been an emaciated body.</p>

					<p>The son of noted painter Noel Quinn, a protege of Pablo Picasso, Quinn hadn&rsquo;t been in contact for years with family as he bounced through struggles with homelessness and the law. But in the past year he&rsquo;s had happy visits throughout California with his brother and sister.</p>

					<p>&ldquo;I try to be an example now of how you can do all right,&rdquo; he said. &ldquo;I&rsquo;ve got a great case worker, and I&rsquo;m strong now.&rdquo;</p>

					<p>One street friend from Division, a man everyone called &ldquo;Alabama,&rdquo; also moved inside about the time Quinn did &mdash; but he hung himself at the beginning of 2018, Quinn said. Despair comes with years on the street. Quinn knows the anguish well. But now he also knows the redemption.</p>

					<p>&ldquo;Alabama shouldn&rsquo;t have given up like that,&rdquo; he said. &ldquo;He forgot that life can get better.&rdquo;</p>

					<p>As Quinn walked down Sixth Street to his favorite store, the tiny grocery at the corner of Minna Street, virtually everyone he passed called out a cheery, &ldquo;Hi, Terry.&rdquo; He waved and smiled at each.</p>

					<p>&ldquo;This guy? He&rsquo;s great,&rdquo; said Osama Zaid, the clerk at the counter. &ldquo;He&rsquo;s here all the time. Everyone loves him.&rdquo;</p>
				</div>

				<div class="individual" id="p4">
					<div class="blockquote">
						<span class="quote">“</span>I'm a soldier for life. I am a survivor.<span class="quote">”</span><div class="attribution"> -Kathy Gray</div>
					</div>
					<div class="story-img">
						<img src="https://s.hdnux.com/photos/74/11/03/15765717/4/800x0.jpg" />
						<div class="figcaption">Kathy Gray watches her shih tzu-mix Gracie as they head back to their room in the Winton Hotel in the Tenderloin after taking a walk as they often do to get coffee or visit with pals at the local stores.</div>
					</div>

					<p>Kathy Gray, 54, had a longer road to stability than Quinn, but it has stuck just as well.</p>

					<p>A transsexual woman, she fended off crazed dopers and violent bigots in her tattered tent on Division Street for months before the big sweep. Then she bounced around shelters and city-funded hotel rooms before landing a studio in the Winton Hotel supportive housing complex. That was in March 2017.</p>

					<div class="float-img-container">
						<div class="float-img right">
							<img src="./assets/maps/gray.jpg" />
						</div>
					</div>

					<p>Today, she and her Shih Tzu-mix dog, Gracie, take walks to the store to get coffee, or to visit with her pals at the local mom-and-pop stores. She does &ldquo;vaping&rdquo; to cut down on smoking. Evenings are usually spent reading &mdash; Ann Rice is a favorite author, as is J.R.R. Tolkein.</p>

					<p>&ldquo;Look, I was in the Army Airborne, and I&rsquo;m a soldier for life,&rdquo; she said the other day as she visited a local health clinic. &ldquo;I am a survivor.&rdquo;</p>
				</div>
				<div class="individual" id="p5">
					<div class="blockquote">
						<span class="quote">“</span>We try very hard not to bother anyone and to help whoever we can.<span class="quote">”</span><div class="attribution"> -Cassandra Brownell</div>
					</div>
					<div class="story-img">
						<img src="https://s.hdnux.com/photos/74/11/03/15765728/4/800x0.jpg" />
						<div class="figcaption">Robert (l to r) and Cassandra Brownell talk outside of their RV as Robert looks through parking tickets that he is paying off through community service on Friday, May 25, 2018 in San Francisco, Calif.</div>
					</div>

					<p>Robert and Cassandra Brownell say life since the Super Bowl sweeps has gotten better. Even if they&rsquo;re still homeless, although they don&rsquo;t really consider themselves fully homeless.</p>


					<p>The couple live in a battered RV, and when their spot near Best Buy got cleared in 2016, they simply rolled a few blocks away. And that&rsquo;s what they&rsquo;ve been doing ever since. They&rsquo;re two of the most cordial people on the street, regularly doing fry-ups of hamburgers for other campers, but they make sure to park by themselves so they don&rsquo;t draw extra attention.</p>

					<div class="float-img-container">
						<div class="float-img right">
							<img src="./assets/maps/brownell.jpg" />
						</div>
					</div>

					<p>&ldquo;We felt bad for all the people camping in those huge camps around here, but I have to say life has been calmer since they were all forced to leave,&rdquo; Robert Brownell said. &ldquo;Smaller groups on the street are more manageable for everyone.&rdquo;</p>

					<p>Brownell, 60, said the RV is the married couple&rsquo;s rolling retirement home. In a couple of years when he can start pulling a Social Security check and a union pension from the floor-installing career he had before injuring his back, they&rsquo;ll find a home to rent, he said. But for now, Cassandra Brownell&rsquo;s Social Security check &mdash; she&rsquo;s a retired bartender at 66 &mdash; pays for gas, food and upkeep on the RV. She sometimes panhandles at a local shopping center for a little more.</p>

					<p>&ldquo;We&rsquo;re seriously grateful for the kindness of strangers around here,&rdquo; she said. &ldquo;We try very hard not to bother anyone, and to help whoever we can.&rdquo;</p>
				</div>
			</div>
		</div>
		<div class="aftermath">
			<h2>The Aftermath</h2>

			<p>For Paul Knowles, who works at the Rainbow Grocery on Division and is on its board of directors, the disappearance of the homeless hordes who used to roam the sidewalk in front of his store is a mixed relief.</p>

			<p>&ldquo;Before this latest big sweep of the Mission District in April, when the new mayor (Farrell) had his moment, it was more like Whack-A-Mole when they&rsquo;d sweep,&rdquo; he said. &ldquo;The city would clean a camp, it would come back, and every day I&rsquo;d call 311 (the city complaint line) about needles, trash, feces. Even after the Super Bowl thing.</p>

			<p>&ldquo;But after this latest sweep, they&rsquo;re really all gone,&rdquo; he said. &ldquo;And being a cool hippie store, it&rsquo;s all a challenge for us. We&rsquo;re not about calling the police. We want to be tolerant and to help people. But this is a human decency issue.&rdquo;</p>

			<p>Knowles sighed and looked toward the street. Instead of arguments, panhandling calls and occasional screams the only sound now is the constant hum of traffic.</p>

			<p>&ldquo;This wasn&rsquo;t about blaming individuals and criminalizing activity,&rdquo; Knowles said. &ldquo;That situation was dangerous not only for our customers, but for the poor people living in tents. I just <a href="https://www.sfchronicle.com/bayarea/article/Despite-progress-new-mayor-inherits-tough-12429029.php" target="_blank">hope this city resolves this homelessness really</a>, in a comprehensive way so people can live healthier, live inside.&rdquo;</p>

			<p class="authorbio">Kevin Fagan is a San Francisco Chronicle staff writer. Email: <a href="mailto:kfagan@sfchronicle.com">kfagan@sfchronicle.com</a> Twitter: <a href="https://twitter.com/KevinChron" target="_blank">@KevinChron</a></p>
		</div>
	</div>

</main>

  <script src="app.js" async></script>  
	<%= t.include("partials/_footer.html") %>

  </body>
</html>